html {
  	scroll-behavior: smooth;
}
/* Style the body */
body {
	font-family: Arial, Helvetica, sans-serif;
  	margin: 0 auto;
	color: #ebdbb2;
	background-color:#4c4c4c ;
  
}
.menu {
  	scroll-margin-top: 3em;
}

.header {
	text-align: center;
	margin: 10px 0 20px;
	font-size: 4.2em;
	text-transform: uppercase;
	letter-spacing: .05em;
	word-spacing: .2em;
}

.footer{


}
	

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}



/* The navbar container */
.navbar {
  	overflow: hidden;
  	background-color: #333;  
  	position: -webkit-sticky;
	position: sticky;
  	top: 0;
/*  	width: 100%;
  	z-index: 1;*/
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
.content, .cv{
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}
.content p{
	text-align: justify;
  	text-justify: inter-word;
}

.link {
	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 17px;
}
.link:hover {
  background-color: #ddd;
  color: black;
}
/*.link:visited {
  color: #4CAF50;
  background-color: transparent;
  text-decoration: none;
}
.link:active {
	background-color: #4CAF50;
  	color: white;
}*/


.navbar {
  	overflow: hidden;
	text-color: 
	
}


/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
	width: 35%;
}
.right {
  	width: 65%;
}

/*.left, .right p{
	text-align: justify;
  	text-justify: inter-word;
}*/


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*.row:hover{
	background-color: #181a1b
}
*/
	
/*___________________________For Slideshow_______________________*/
* {box-sizing:border-box}
.show{
	max-height:350px;
	margin-top: auto;
	margin-bottom:auto;
  	overflow: hidden;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	align-content: center;
}

/* Slideshow container */
.slideshow-container {
	overflow: hidden;
  	max-width: 1000px;
  	position: relative;
  	margin: auto;
  	background-color: #1d2021;;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f2f2f2;
  opacity:0.8;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(242,242,242,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  opacity:0.8;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active{
  background-color: rgba(76, 175, 80, 0.8);
}

.dot:hover {
	background-color:#f2f2f2;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*______________________________________________________________*/

/*_________________Photo_Album__________________________________*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;

}

div.gallery img {
  	width: 100%;
  	height: 400;
	width: 600;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/*______________________________________________________________*/
